<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="vie8wport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

    <div class="container">

        <div class="row">
            <h4 style="text-align: center">Relief Fund Management and Verification</h4>
            <hr>
        </div>

        <div class="row" id="loadingRow" style="text-align: center">
            <div class="col s4">
                <span class="preloader-wrapper active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </span>
                <div style="font-size: x-large">Loading...</div>
            </div>
        </div>


        <div class="row" id="content">
            <div class="col s8">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="https://www.wwe.com/f/styles/og_image/public/rd-talent/Bio/Brock_Lesnar_bio.png" alt="" class="circle">
                        <span class="title" style="color:green">
                            <strong>PHILANTHROPY AGENT</strong>
                        </span>
                        <p>Brock Edward Lesnar
                            <br>Former-UFC and WWE-Universal Champion
                            <br>
                            <strong>Public Ethereum Account: </strong>
                            <span>0x287cfb49cebac74dd0b28fa8de3a4d0ecc8d3a7c</span>
                            <br>
                            <strong>Relief Donation(ETH): </strong>
                            <span>5.0</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="https://pbs.twimg.com/profile_images/864950151852548097/1u5nYIe1_400x400.jpg" alt="" class="circle">
                        <span class="title" style="color:red">
                            <strong>NON-PROFIT DISTRIBUTOR</strong>
                        </span>
                        <p><strong>Ummed Relief and Rehab</strong> 
                            <br>
                            <strong>Public Ethereum Account: </strong>
                            <span>0x287cfb49cebac74dd0b28fa8de3a4d0ecc8d3a7c</span>
                            <br>
                            <strong>Donations Recieved(ETH): </strong>
                            <span id="funds-received">0.0</span>
                            <br>
                            <strong>Donations Spread(ETH): </strong>
                            <span id="funds-spread">0.0</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <span class="title" style="color:blue">
                            <strong>GRASSROOT LEVEL USERS</strong>
                        </span>
                        <ol id="end-user-ol">
                            <!-- <li>
                                <img id="food-img" src="https://www.wwe.com/f/styles/og_image/public/rd-talent/Bio/Brock_Lesnar_bio.png" alt="" class="circle">
                                <span>
                                    <strong>Needy Kitchen</strong>
                                </span>
                                <br>
                                <p>Local Food Supplier in Packaged or Ready to Eat Products</p>
                                <strong>Public Ethereum Account: </strong>
                                <span>0x287cfb49cebac74dd0b28fa8de3a4d0ecc8d3a7c</span>
                                <br>
                                <strong>Funds Recieved(ETH): </strong>
                                <span>2.0</span>
                            </li> -->
                        </ol>
                    </li>
                </ul>
            </div>

            <div class="col s4">

                <div class="card" id="philatropy-div">

                    <div class="card-title" style="margin-left: 10px">Contribute Funds </div>
                    <div class="card-content">

                        <label for="relief-acc-input">Relief Reciever</label>
                        <input id="relief-acc-input" value="0x287cfb49cebac74dd0b28fa8de3a4d0ecc8d3a7c">

                        <label for="relief-amt-input">Relief Amount</label>
                        <input id="relief-amt-input" type="number" placeholder="0.0">

                        <button class="waves-effect waves-light btn" id="relief-donate-button">Donate</button>
                    </div>
                </div>

                <div class="card" id="distribute-div">

                    <div class="card-title" style="margin-left: 10px">Distribute Funds </div>
                    <div class="card-content">
                        <button class="waves-effect waves-light btn" id="relief-distribute-button">Distribute</button>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/fund_chain.js"></script>



</body>

</html>